.header__lang-link {
    font-size: 24px;
    line-height: 1.17;
    min-height: 28px;
    min-width: 29px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}
li:first-of-type{
    margin-right: 18px;
    text-decoration-line: underline;
}

@media screen and (max-width: 320px){
    .header__lang-link {
        font-size: 18px;
        line-height: 1.1;
        min-height: 22px;
        min-width: 20px;
    }
}