.header__lang-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    min-height: 20px;
    max-width: 29px;
}

li:first-of-type{ /* .header__lang-link:first-of-type didn't work */
    margin-right: 18px;
    text-decoration-line: underline;
}

@media screen and (max-width: 425px){
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}