@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-links/header__lang-links.css');

.header {
    width: 76.875%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (max-width: 1024px){
    .header {
        width: 90.625%;
    }
}
@media screen and (max-width: 768px){
    .header {
        width: 93.75%;
    }
}
@media screen and (max-width: 425px){
    .header {
        width: 90%;
    }
}