.logo { /* taken care of by svg?? */
    background-image: url('../../images/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 190px;
    min-height: 36px;
}

@media screen and (max-width: 425px){
    .logo {
        width: 156px;
    }
}