.intro__list-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}
.intro__list-item:first-of-type{
    text-decoration: none; /* no idea why the first one was always underlined?? anyway*/
}