@import url('./__list/intro__list.css');
@import url('./__list-item/intro__list-item.css');
@import url('./__span-accent/intro__span-accent.css');
@import url('./__text-paragraph/intro__text-paragraph.css');
@import url('./__text-subtitle/intro__text-subtitle.css');
@import url('./__title/intro__title.css');

.intro {
    max-width: 53.906%;
    min-width: 288px;
    margin: 92px 35% 0 12%; 
}
@media screen and (max-width: 1024px){
    .intro {
        margin-left: 5%;
        margin-right: 28%;
    }
}
@media screen and (max-width: 768px){
    .intro {
        width: 93.75%;
        margin: 88px auto 0 auto;
    }
}
@media screen and (max-width: 425px){
    .intro {
        width: 90%;
        margin-top: 64px;
    }
}