@import url('./__list/intro__list.css');
@import url('./__list-item/intro__list-item.css');
@import url('./__span-accent/intro__span-accent.css');
@import url('./__text-paragraph/intro__text-paragraph.css');
@import url('./__text-subtitle/intro__text-subtitle.css');
@import url('./__title/intro__title.css');

.intro {
    border: 1px solid red;
    min-width: 288px;
    max-height: 569px;
    min-height: 841px;
    margin: 92px 35% 0 12%; 
}
@media screen and (max-width: 1024px){
    .intro {
        margin: 88px 28% 0 5%;
    }
}
@media screen and (max-width: 768px){
    .intro {
        margin: 88px 3% 0 3%;
    }
}
@media screen and (max-width: 425px){
    .intro {
        margin: 64px 5% 0 5%;
    }
}