.cover {
    margin: 92px 48px 0 48px;
    width: calc(100% - 96px);
}
@media screen and (max-width: 1024px){
    .cover {
        margin: 92px 0 0 0;
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .cover {
        margin-top: 89px;
    }
}
@media screen and (max-width: 425px){
    .cover {
        margin-top: 64px;
    }
}