@import url('./__background/cover__background.css');
@import url('./__overlay/cover__overlay.css');
@import url('./__subtitle/cover__subtitle.css');
@import url('./__title/cover__title.css');

.cover {
    margin: 92px 48px 0 48px;
    width: calc(100% - 96px);
}
@media screen and (max-width: 1024px){
    .cover {
        margin: 92px 0 0 0;
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .cover {
        margin-top: 89px;
    }
}
@media screen and (max-width: 425px){
    .cover {
        margin-top: 64px;
    }
}