.cover__background {
    background-image: url('../../../images/__background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
}
@media screen and (max-width: 1024px){
    .cover__background {
        height: 640px;
    }
}
@media screen and (max-width: 768px){
    .cover__background {
        height: 480px;
    }
}
@media screen and (max-width: 425px){
    .cover__background {
        height: 200px;
    }
}