.place__website {
    max-height: 152px;
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media screen and (max-width: 767px) {
    .place__website {
        width: 288px;
        min-height: 35px;
        margin: 0 auto;
    }
}